h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Impacto de las TIC', 'main.html#page/tic/')
                    +navTemaItem('2', 'Proceso de ideación', 'main.html#page/ideacion/')
                    +navTemaItem('3', 'Contenido digital', 'main.html#page/digital/')
                    +navTemaItem('4', 'Planeación y herramientas de contenido digital', 'main.html#page/contenido_digital/')
                    +navTemaItem('5', 'Diseño del contenido digital', 'main.html#page/diseno_contenido_digital/')                                        