.container
    .header-ecored
        h1 3. Contenido digital  
    .jumbotron.bg-white
        .sub-ecored#31
            h2 3.1 Concepto y características 
        img.img-a(src="assets/images/pages/ilustraciones/img10.png").img-fluid 
        p.mt-5 Los usuarios de la red de internet se exponen día a día a múltiples ejemplos de contenido digital, en algunos casos desconociendo su existencia. Este contenido es todo lo que se sube o publica, desde fotografías, texto, videos, transmisión en vivo, seminarios #[i web o webinar.]
 
        p Y es así como con la web 2.0 nace la posibilidad de compartir información, gracias a las redes sociales, donde las marcas encuentran un nicho de usuarios, los cuales enganchan con estrategias de comercialización llevadas a cabo en los medios digitales y la interacción casi inmediata entre marca y usuario le da la importancia que no tenía al usuario, al permitirse libremente comentar e interactuar al mismo nivel. Por otro lado, las marcas llegan a más usuarios aplicando estrategias cada vez más novedosas y eficaces basados en las sugerencias y aceptación de los usuarios.  

        .sub-ecored#32
            h2 3.2 Tipos de contenido digital          
  
        .row.justify-content-center.align-items-center
            .col-3.sup
                img.ml-6.img-a(src="assets/images/pages/ilustraciones/img11.svg").img-fluid 
            .col-9
                .jumbotron.card-text-2.my-3.mr-6
                    p.ml-5 Primero que todo, se debe saber que se tiene un contenido digital genérico, por ejemplo: algunos influenciadores o personajes famosos publican contenido en sus redes sociales con poca coherencia o sin un mensaje significativo para sus seguidores, solo buscando aumentar su visibilidad en las redes.

                    p.ml-5.mb-0 Lo anterior demuestra que, aunque el contenido digital no aporte nada de valor ni tenga utilidad práctica, a sus seguidores les agrada y los entretiene este tipo de contenidos.  

        .row.justify-content-center.align-items-center.mt-5
            .col-9
                .jumbotron.card-text-2.my-3.ml-6
                    p.mr-5 Por otro lado, está el contenido digital publicitario, el cual es todo lo que se publica brindando información que genera ventas de un producto o servicio. Es de resaltar que para este contenido, las nuevas tecnologías obligaron a las marcas a romper paradigmas, pues antes del internet se estaba casi que obligado a ver en la TV más de 30 minutos de publicidad para poder ver la novela de moda “Café con aroma de mujer”.
                    p.mr-5.mb-0 Y es que actualmente, en el mundo digital se puede pagar y adquirir un plan donde se elimina la publicidad; plataformas como YouTube Premium ofrecen ello: YouTube Music sin anuncios, sin conexión y en segundo plano. Así como esta plataforma existen muchos ejemplos todos con el mismo mecanismo.          
            .col-3.sup
                img.m-left.img-a(src="assets/images/pages/ilustraciones/img12.svg").img-fluid 
        p.mt-5

        .row.justify-content-center.align-items-center.mt-5
            .col-3.sup
                img.ml-6.img-a(src="assets/images/pages/ilustraciones/img13.svg").img-fluid 
            .col-9
                .jumbotron.card-text-2.my-3.mr-6
                    p.ml-5.mb-0 También, se encuentra el contenido digital excepcional, el cual es atractivo para las personas, es diseñado para tratar de enganchar usuarios y generar ventas, pero al mismo tiempo para ofrecer contenido que entretenga o en algunos casos instruya. Un #[i influencer] que goza de credibilidad y entrega estos contenidos a sus usuarios, gana más seguidores y por supuesto más contratos con las marcas. 
        
        p.mt-5 Por tal motivo, cada vez es más necesario que las marcas creen este tipo de estrategias y como ejemplo de ello, se puede ver a la marca registrada Cerveza Poker en su canal de YouTube llamado #ManoAManoPoker, donde en esencia lo que hace es entretener, mantener la atención del usuario y publicitar. 

        .jumbotron.card-text.mt-5        
            .row.justify-content-center.align-items-center 
                .col-auto
                    img.img-a.my-5(src="assets/images/pages/ilustraciones/alert.svg").img-fluid 
                .col
                    h3 ¿Quiere saber cómo planear la construcción de un contenido digital?  
                    p Para ello, defina qué tipo de contenido desea crear y determine si va a utilizar una imagen, un video, un audio o una presentación. Este formato depende de los recursos disponibles con los que se cuente, el interés del público objetivo y la capacidad de adaptación para la solución seleccionada.        