include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("40deFiebre. (2020). Diccionario de Marketing Digital. ¿Qué es un webinar? ", "https://www.40defiebre.com/que-es/webinar")

        +referenciaItem("Álvarez, M. (s.f.), Análisis comparativo del impacto de las TIC en el crecimiento económico de España y Estados Unidos tras la crisis económica. ", "https://repositorio.upct.es/bitstream/handle/10317/8678/tfg-alv-ana.pdf?sequence=1&isAllowed=y")

        +referenciaItem("Almeida, M. (2017). Lectura, escritura y oralidad en español. ", "https://leo.uniandes.edu.co/index.php/oralidad-sec-menu/87-guia-para-elaborar-una-presentacion-efectiva-en-power-point")

        +referenciaItem("Apple. (2020). Aficionados a los podcast: preguntas frecuentes.", "https://www.apple.com/es/itunes/podcasts/fanfaq.html")

        +referenciaItem("Athuraliya, A. (2018). Viral Video Tip: To Make Better Videos, Start with a Storyboard. ", "https://creately.com/blog/diagrams/how-to-make-a-storyboard-for-video/")

        +referenciaItem("Buzzsprout. (2020). How to Start a Podcast. ", "https://www.buzzsprout.com/how-to-make-a-podcast")

        +referenciaItem("Childress, A. (2019). ¿Cuáles Son las Mejores Fuentes para Utilizar en Presentaciones de PowerPoint? (Guía Completa 2019). ", "https://business.tutsplus.com/es/tutorials/best-fonts-for-powerpoint-ppt-presentations--cms-33372")

        +referenciaItem("Hotmart. (2019). Hotmart/Blog. ", "https://blog.hotmart.com/es/formatos-de-video/")

        +referenciaItem("Inbuze Digital Marketing. (2019). Contenidos digitales: qué son, tipos y cómo utilizarlos en tu estrategia de marketing. ", "https://www.inbuze.com/contenidos-digitales/#:~:text=Los%20contenidos%20digitales%20son%20cualquier,%2C%20im%C3%A1genes%2C%20v%C3%ADdeos%2C%20mapas%E2%80%A6")

        +referenciaItem("Klaric, J. (2019). Neuro oratoria. Editorial Planeta Chilena.", " ")

        +referenciaItem("MinTIC. (2017), ¿Qué es un contenido Digital? ", "https://www.mintic.gov.co/portal/inicio/57688:Contenidos-Digitales")

        +referenciaItem("Ormaza, M. I. y Rodríguez, M. (2020). El impacto de las TIC en el sistema educativo. ", "https://www.eumed.net/rev/atlante/2020/05/tic-sistema-educativo.html")

        +referenciaItem("Paredro. (2015). Las fases del diseño gráfico en 7 pasos. ", "https://www.paredro.com/106160-2/")

        +referenciaItem("Pérez, J. y Merino, M. (2008). Pensamiento lógico. Definición.de. ", "https://definicion.de/pensamiento-logico/")

        +referenciaItem("Pérez, J. y Merino, M. (2012). Boceto. Definición.de. ", "https://definicion.de/boceto/")

        +referenciaItem("Sabater, V. (2018). Pensamiento divergente: qué es y cómo desarrollarlo.", "https://lamenteesmaravillosa.com/pensamiento-divergente-desarrollarlo/")

        +referenciaItem("Silverman, D. (2016). Diseño de Presentaciones. ", "https://disenodepresentaciones.wordpress.com/2016/08/11/punto-focal-3-maneras-de-establecerlo/#:~:text=El%20punto%20focal%20de%20una,Idealmente%20deber%C3%ADamos%20definir%20s%C3%B3lo%20uno")
        
        +referenciaItem("Verizon. (2020). Transmisión. ", "https://espanol.verizon.com/info/definitions/streaming/")                                        
       

        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            