.bg-color-naranja {
  background-color: orange;
}
.text-white {
  color: white;
}
.text-black {
  color: black !important;
}
.img-a {
  display: block;
  margin: auto;
}

.sub-ecored {
  h2,
  h3 {
    overflow: hidden;
    font-weight: 700;
  }

  h2:after,
  h3:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid orange;
  }
}

.sub-title {
  h2,
  h3 {
    overflow: hidden;
    font-weight: 700;
  }

  h2:after,
  h3:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #bede9b;
  }
}

.teme-line {
  h2,
  h3 {
    overflow: hidden;
    font-weight: 700;
  }

  h2:after,
  h3:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #0f3384;
  }
}

.sub-title-1 {
  h2,
  h3 {
    overflow: hidden;
    font-weight: 700;
  }

  h2:after,
  h3:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 1px solid #b3d4ef;
  }
}

.hr-ecored {
  border: 1px solid orange;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.hr-card{
    border: 1px solid #5159A1;
}

.list {
  width: 100%;
  display: flex !important;
  &__item {
    &__bulletNumber {
      position: relative;
      width: 30px;
      height: 30px;
      margin-right: 1rem;
      text-align: center;
      border-radius: 50%;
      background-color: #5159a1;
      span {
        color: white;
        font-weight: 700;
        font-size: small;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__number {
      position: relative;
      margin-right: 1rem;
      span {
        color: orange;
        font-size: 15pt;
        font-weight: 700;
        line-height: 1.2;
      }
    }
    &__icon {
      position: relative;
      width: 15px;
      margin-right: 0.65rem;
      img {
        width: 15px;
        vertical-align: middle;
      }
    }
  }
  &__txt {
    p:first-child,
    h3:first-child {
      margin-top: -4px;
    }
  }
}

.img-border-radius-sup {
  border-radius: 10px 10px 0px 0px;
}

//*** Time lime***

.text-title {
  font-size: 1.2rem !important;
  font-weight: bold !important;
}
:focus {
  outline: 0px solid transparent !important;
}
.timeline {
  padding: 50px 0;
  position: relative;
}
.timeline-nodes {
  padding-bottom: 25px;
  position: relative;
}
.timeline-nodes:nth-child(even) {
  flex-direction: row-reverse;
}
.timeline h3,
.timeline p {
  padding: 5px 15px;
}
.timeline h3 {
  font-weight: lighter;
  background: #6278aa;
}
.timeline p,
.timeline time {
  color: black;
}
.timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  border-left: 2px solid #6278aa;
  height: 100%;
  z-index: 1;
  transform: translateX(-50%);
}
.timeline-content {
  background-color: #dce1f0;
  position: relative;
  border-radius: 10px;
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
  text-align: left;
}
.timeline-nodes:nth-child(odd) .timeline-date {
  text-align: left;
}

.timeline-nodes:nth-child(even) .timeline-date {
  text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 100%;
  width: 0;
  border-left: 10px solid #dce1f0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  width: 0;
  border-right: 10px solid #dce1f0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.timeline-image {
  position: relative;
  z-index: 100;
}
.timeline-image::before {
  content: "";
  width: 50px;
  height: 50px;
  border: 2px solid #dce1f1;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -0%);
  background-color: white;
  z-index: 1;
}
.timeline-image img {
  position: relative;
  z-index: 100;
}
/*small device style*/

@media (max-width: 767px) {
  .timeline-nodes:nth-child(odd) h3,
  .timeline-nodes:nth-child(odd) p {
    text-align: left;
  }
  .timeline-nodes:nth-child(even) {
    flex-direction: row;
  }
  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px solid #6278aa;
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
  }
  .timeline h3 {
    font-size: 1.7rem;
  }
  .timeline p {
    font-size: 14px;
  }
  .timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
  }
  .timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid #dce1f0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid #dce1f0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
  }
  .timeline-image::before {
    width: 65px;
    height: 65px;
  }
}

/*extra small device style */
@media (max-width: 575px) {
  .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
  }
  .timeline-image {
    position: absolute;
    left: -5%;
  }
  .timeline-image::before {
    width: 60px;
    height: 60px;
  }
}

.text-info {
  background: #f2f3ff;
  border-radius: 10px;
  color: #01223d !important;
  border: 1px solid #5159a1;
}

.text-browser {
  border: 1px solid #707070;
}

.color-1 {
  background: #b0d6ff;
}

.color-2 {
  background: #daeafc;
}

.border {
  border-radius: 50px;
  border: 1px solid #277ef1 !important;
}

.color-3 {
  background: #277ef1;
  border-radius: 0px 50px 50px 0px;
}

.color-4 {
  background: #b5e6f4;
}

.color-5 {
  background: #A7E0E8;
}
.card-text {
  background: #fdf5d3;
  border-radius: 10px;
  border: 1px solid #fdac29;
}

.card-text-1 {
  background: #f7e7ce;
  border-radius: 10px;
  border: 1px solid #5159a1;
}

.card-text-2 {
  background: #fdf3da;
  border-radius: 10px;
  border: 1px solid #fdac29;
}

.img-color {
  background: #37393c;
  border-radius: 10px 10px 0px 0px;
}

.img-color-1 {
  background: #6acde9;
  border-radius: 10px 10px 0px 0px;
}

.border-color {
  border: 1px solid #5159a1;
  border-radius: 10px;
}

//color de fondo
$media_link-cl: #edf2f9;

//textura de fondo

.bg-texture {
  background-image: url("../images/icons/componentes/bg-image.svg");
  background-size: contain;
  background-repeat: repeat;
}

//Tamaños del icono //
.icon--sm {
  width: 45px !important;
  img {
    width: 45px !important;
  }
}
.icon--md {
  width: 65px !important;
  img {
    width: 65px !important;
  }
}
.icon--lg {
  width: 95px !important;
  img {
    width: 95px !important;
  }
}

.media_link {
  width: 100%;
  background-color: $media_link-cl;
  border-radius: 7px;
  display: flex !important;
  justify-content: start;
  align-items: center;
  padding: 1.5rem 2rem;
}

.media_link__icon {
  width: 45px;
  margin-right: 1rem;
  img {
    width: 45px;
  }
}
.media_link__txt {
  color: #12263f;
  p {
    margin: 0 !important;
  }
}

.sup {
  z-index: 1;
}

.p-card {
  background: #5159a1;
  color: white;
  border-radius: 10px;
  margin-bottom: -1rem;
  margin-left: 1rem;
}

.p-card-1 {
    background: #EFF0FF;
    border: 1px solid #5159A1;
    border-radius: 10px;
    margin-top: -2rem;
    margin-left: 1rem;
  }

.p-card-2{
    background: #ACB1E5 !important;
    border-radius: 10px;
    z-index: 2;
}

.m-left{
    margin-left: -4.3rem;
}

.hr{
    border: 1px solid #6278AA;
}

.top{
    margin-top: 3rem;
    max-width: 50%;
}